{% extends "base.html" %}

{% block content %}
    
    {% include "profile_menu.html" %} 
    
    <div class="profile-body">
        
        
            <div id="accordion">
                
                {% for message in messages %}

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_{{ message.id }}" aria-expanded="true" aria-controls="collapseOne">
                                  Message from {{ message.author.first_name }} re. {{ message.post.title }} - post number:{{ message.post.id }}, post author: {{ message.recipient.first_name }}
                                </button>
                            </h5>
                        </div>
                
                        <div id="collapse_{{ message.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                
                                <div class="row">
                                
                                    <div class="col-4">
                                        <div class="card">
                                            <img class="card-img-top" src="#" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ message.post.title }}</h5>
                                                <p class="card-text">{{ message.post.content }}</p>
                                                <p class="card-text">{{ message.post.created_date }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-4">
                                        <div class="card">
                                            <img class="card-img-top" src="#" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ message.title }}</h5>
                                                <p class="card-text">{{ message.content }}</p>
                                                <p class="card-text">{{ message.created_date }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">I'd Like to get in touch</h5>
                                                <p class="card-text">Name:</p>
                                                <p class="card-text">{{ message.author.first_name }} {{ message.author.last_name }}</p>
                                                <p class="card-text">Email:</p>
                                                <p class="card-text">{{ message.author.email }}</p>
                                                <p class="card-text">Phone Number:</p>
                                                <p class="card-text">{{ message.author.profile.phone_number }}</p>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div> 
                                
                            </div>
                        </div>
                    </div>
            
                {% endfor %} 
            
            </div>
        
    </div>
    
{% endblock %}    
    