{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
    
    <div class="row">
    
    {% for post in posts %}
    
        <div class="col-4">
            
            <div class="card mb-5" style="width: 20rem;">
                <img class="card-img-top" src="{{ MEDIA_URL }}{{ post.image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-text">{{ post.created_date }}</p>
                    
                    {% if request.user.profile.subscription_id %}
                    
                        {% if subscription.status == "active" %}
                            <a class="btn btn-link" href="{% url 'write_message' post.id %}" role="button">Interested</a>
                        {% elif subscription.status == "canceled" %}
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="You need to be subscribed.">
                                <a class="btn btn-link disabled noclick" href="{% url 'write_message' post.id %}" role="button">Interested</a>
                            </span>
                        {% endif %}
                    
                    {% else %}
                        
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="You need to be subscribed">
                            <a class="btn btn-link disabled noclick" href="{% url 'write_message' post.id %}" role="button">Interested</a>
                        </span>
                            <a class="btn btn-link" href="{% url 'add_credit_card' %}" role="button">Subscribe</a>
                        
                    {% endif %}
                    
                </div>
            </div>
            
        </div>    
    
    {% endfor %}

    </div> 

{% endblock %}