{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
    
    <div class="index-header_col">
    
        <div class="container">
            
            <div class="row py-5">
                <div class="col-12">
                    <p>You are logged in as a <strong>{{ group }}</strong>. Below are product placement opportunities looking to connect. Register your interest. The opportunity owner will be provided with your contact details and will be in touch if there is a match.</p>
                    <p>Alternaively, visit <a href="{% url 'my_profile' %}">your profile</a> where you can add an opportunity of your own.</p>  
                </div>
            </div>
        
        </div>
    
    </div>
    
    <div class="container">
        
        <div class="row py-5">
            <div class="col-12">
                <h2 class="text-center">Opportunities</h2>
            </div>
        </div>        
        
        <div class="row">
        
        {% for post in posts %}
        
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                
                <div class="card mb-5 post-card_size">
                    <img class="card-img-top" src="{{ MEDIA_URL }}{{ post.image }}" alt="Card image cap">
                    <div class="card-body card-body_col">
                        <h5 class="card-title card-title_col">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content }}</p>
                        <p class="card-text">{{ post.created_date }}</p>
                        
                        {% if request.user.profile.subscription_id %}
                        
                            {% if subscription.status == "active" %}
                                <a class="btn btn-link card-link_col" href="{% url 'write_message' post.id %}" role="button">Interested</a>
                            {% elif subscription.status == "canceled" %}
                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="You need to be subscribed.">
                                    <a class="btn btn-link disabled noclick card-link_col" href="{% url 'write_message' post.id %}" role="button">Interested</a>
                                </span>
                            {% endif %}
                        
                        {% else %}
                            
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="You need to be subscribed">
                                <a class="btn btn-link disabled noclick card-link_col" href="{% url 'write_message' post.id %}" role="button">Interested</a>
                            </span>
                                <a class="btn btn-link card-link_col" href="{% url 'add_credit_card' %}" role="button">Subscribe</a>
                            
                        {% endif %}
                        
                    </div>
                </div>
                
            </div>    
        
        {% endfor %}
    
        </div>
        
    </div>

{% endblock %}