body {
        padding-top: 75px;
    }

@media only screen and (min-width: 960px) {
    body {
        padding-top: 100px;
    }
}    

/* Background image for index page*/

body {
    background-image: url('/static/images/bg_image-index.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.accountform {
    padding-top: 20px;
}


/* Styling for index page log in and sign up functionality*/

.centered {
    padding: 100px 0;
}

/* Styling for log out nav link*/

.nav-link_log-out-col {
    color: white;
}

/* Styling for card responsiveness*/

.card-size {
    width: 100%;
}    


/* Styling for the topbar nav*/

/*.topbar {*/
    
/*}*/

/* Styling for the topbar dropdown menu*/

.dropdown-menu {
    min-width: 15rem;
}


/* Styling for the desktop sidebar nav*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 100px 0 0;
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);*/
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 100px);
  padding-top: 0.5rem;
}

/*.sidebar .nav-link {*/
/*  font-weight: 500;*/
/*  color: #333;*/
/*}*/

/*.sidebar .nav-link.active {*/
/*  color: #007bff;*/
/*}*/

/*.sidebar-heading {*/
/*  font-size: .75rem;*/
/*  text-transform: uppercase;*/
/*}*/


/* Styling for profile page body*/

@media only screen and (min-width: 960px) {
  .profile_body {
    padding-left: 15%;
    /*padding-right: 15%;*/
    }
}

/* Styling for profile welcome*/
.profile_welcome {
    background-color: gray;
    margin: 0px;
    padding: 10px 0px;
    width: 100%;
}

.profile_image {
    width: 100%;
    height: auto;
}

/* Styling to disable link for profile menu list items*/
    .noclick  {
      pointer-events: none;
    }