{% extends "base.html" %}

{% block content %}
    
    <div class="centered">
        <div class="row justify-content-center">
            <div class="col-4">
                
                <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Are you a Marketer?</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Welcome</h6>
                    <p class="card-text">Are you looking for a product placement opportunity and looking to contect?</p>
                    <a href="#" class="card-link">Log In</a>
                    <a href="#" class="card-link">Sign up</a>
                </div>
                </div>
            
            </div>
            <div class="col-4">
                
                <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Are you a Content Producer?</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Welcome</h6>
                    <p class="card-text">Do you have a product placement opportunity for a brand and looking to contect?</p>
                    <a href="#" class="card-link">Log In</a>
                    <a href="#" class="card-link">Sign up</a>
                </div>
                </div>
            
            </div>
        </div>
    </div>
    
{% endblock %}