
{% extends "base.html" %}

{% block content %}
    
    <div class="index-header_col">
        
        <div class="container">
            <div class="row pt-5">
                <div class="col-12">
                    <h2 class="text-center">You are the right people, this in the Right Place, now is the right time</h2>
                </div>
            </div>    
            
            <div class="centered">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-lg-4">
                        
                        <div class="card mb-5">
                            <div class="card-body card-body_col">
                                <h5 class="card-title card-title_col">Are you a Marketer?</h5>
                                <h6 class="card-subtitle mb-2 card-subtitle_col">Welcome</h6>
                                <p class="card-text">Are you a brand looking for a product placement opportunity and looking to connect?</p>
                                <a href="{% url 'login' %}" class="card-link card-link_col"><i class="fas fa-sign-in-alt"></i> Log In</a>
                                <a href="{% url 'signup' %}?type=marketer" class="card-link card-link_col"><i class="fa fa-user-plus"></i> Sign up</a>
                            </div>
                        </div>
                    
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4">
                        
                        <div class="card mb-5">
                            <div class="card-body card-body_col">
                                <h5 class="card-title card-title_col">Are you a Content Producer?</h5>
                                <h6 class="card-subtitle mb-2 card-subtitle_col">Welcome</h6>
                                <p class="card-text">Do you have a product placement opportunity for a brand and looking to connect?</p>
                                <a href="{% url 'login' %}" class="card-link card-link_col"><i class="fas fa-sign-in-alt"></i> Log In</a>
                                <a href="{% url 'signup' %}?type=producer" class="card-link card-link_col"><i class="fa fa-user-plus"></i> Sign up</a>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>    
    
    </div> 
    
    <div class="container">
        <div class="row py-5">
            <div class="col-12">
                <h2 class="text-center">How It Works</h2>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="card mb-5 index-card_size">
                    <img class="card-img-top" src="/static/images/about.png" alt="Card image cap">
                    <div class="card-body card-body_col">
                        <h5 class="card-title card-title_col">About</h5>
                        <p class="card-text">Right Place is a common market place for product placement opportunities.</p> 
                        <p>Either you're a marketer with a brand looking for a product placement opportunity or you're a content producer with a product placement opportunity looking for a brand.</p> 
                        <p>Right place connects the two. Sign up to view opportunities and subscribe to connect.</p>
                    </div>
                </div>
            </div>    
            <div class="col-12 col-sm-4">    
                <div class="card mb-5 index-card_size">
                    <img class="card-img-top" src="/static/images/sign-up.png" alt="Card image cap">
                    <div class="card-body card-body_col">
                        <h5 class="card-title card-title_col">Sign up</h5>
                        <p class="card-text">Once you have signed up marketers will be able to view opportunities posted by content producers and content producers will be able to view opportunities posted by marketers.</p>
                    </div>
                </div>
            </div>    
            <div class="col-12 col-sm-4">    
                <div class="card mb-5 index-card_size">
                    <img class="card-img-top" src="/static/images/subscribe.png" alt="Card image cap">
                    <div class="card-body card-body_col">
                        <h5 class="card-title card-title_col">Subscribe</h5>
                        <p class="card-text">Subscriptions are offered on a monthly and annual basis.</p> 
                        <p>You must be subscibed if you wish to connect with a opportunity. As a subscribed member, you will also be able to add your own opportunities and connect with interested parties.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="index-footer index-footer_col">
    
        <div class="container">
            <div class="row">
                <div class="col-12">    
                    <p class=" mt-4 index-footer-text_col">For educational purposes only. Made using Bootstrap 4.</p>
                </div>
            </div>
        </div>
    
    </div>

    
{% endblock %}