{% extends "base.html" %}

{% block content %}
    
    {% include "profile_menu.html" %} 
    
    <div class="profile-body">
        
        <div class="row row-welcome">
            <div class="col-md-12">
                <h3>Hello {{ user.first_name }}</h3>
            </div>
        </div>
        
        <div class="row mt-4">
            
            <div class="col-md-3">
                
                <img src="{{ MEDIA_URL }}{{ user.profile.image }}" alt="Profile image" width="200px" height="200px" />
                
            </div>
            
            <div class="col-md-3">
                
                <h4>Your Details</h4>
                
                <h6>Username</h6>
                <p>{{ user.username }}</p>
                
                <h6>Role</h6>
                <p>{{ group }}</p>
                
                <h6>First Name</h6>
                <p>{{ user.first_name }}</p>
            
                <h6>Last Name</h6>
                <p>{{ user.last_name }}</p>

                <h6>Phone Number</h6>
                <p>{{ user.profile.phone_number }}</p>

                <h6>Email</h6>
                <p>{{ user.email }}</p>
                
            </div>
            
            <div class="col-md-3">
                
                <h4>Billing</h4>
                {% if user.profile.stripe_id %}
                    <p>Credit Card</p>
                    <p>You have added card ending {{ user.profile.card_ending }}</p>
                    <form method="post" action="{% url 'remove_credit_card' %}">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">Remove Card</button>
                    </form>
                {% else %}
                    {% if user.profile.active_subscription %}
                        <p>We have no credit card on file. <a class="btn btn-link" href="{% url 'add_credit_card' %}">Add one</a></p>
                    {% else %}
                        <p>To subscribe, first, we need your payment details. <a class="btn btn-link" href="{% url 'add_credit_card' %}">Add credit card</a></p>
                    {% endif %}
                {% endif %}
                
            </div>
            
            <div class="col-md-3">
                    
                    <h4>Subscription</h4>
                    {% if request.user.profile.subscription_id %} 
                        {% if subscription.status == "active" %}
                            <table class="table profile-user-details ">
                                <tr>
                                    <th>Subscription:</th>
                                    <td>{{ subscription.plan.nickname }}</td>
                                </tr>
                                <tr>
                                    <th>Status:</th>
                                    <td>{% if cancelled_on == "not_applicable" %} Active {% else %}<span style="color:#ff0000;">Cancelled on</span> {{ cancelled_on }} {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Valid From:</th>
                                    <td>{{ start_date }}</td>
                                </tr>
                                <tr>
                                    <th>Valid till:</th>
                                    <td>{{ end_date }}</td>
                                </tr>
                                <tr>
                                    <th>Auto-Renew on expiry:</th>
                                    <td>{% if subscription.cancel_at_period_end == False %}Yes {% else %}No{% endif %}</td>
                                </tr>
                            </table>
                            {% if cancelled_on == "not_applicable" %}
                                <a href="{% url 'unsubscribe' %}" class="btn btn-success pull-right">Cancel subscription</a> 
                            {% endif %} 
                        {% elif subscription.status == "canceled" %}
                            <p>Your {{subscription.plan.id}} has expired.</p>
                            <p>For further details on our subscription plans and subscribe, please go to our subscriptions page.</p>
                            <a href="{% url 'subscriptions' %}" class="btn btn-success pull-right">Subscription</a> 
                        {% endif %} 
                    {% else %}
                        <p>You do not have an active subscription.</p>
                        <a href="{% url 'subscribe' %}">Subscribe</a> 
                    {% endif %}
                
            </div>
            
        </div>
        
        
    </div>
    
    
{% endblock %}