
<div class="row">
    
    <nav class="navbar d-block col-12 d-lg-none bg-light mb-4 topbar">
        
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'my_profile' %}">Your Details<span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opportunities</a>
                <div class="dropdown-menu">
                    <a class="nav-link" href="{% url 'my_posts' %}">Your Opportunities</a>
                    <a class="nav-link" href="{% url 'my_inbox' %}">Inbox</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link" href="{% url 'write_post' %}"><i class="fas fa-plus-circle"></i> Add Opportunity</a>
                </div>
            </li>
  
        </ul>
        
    </nav>
    
    
    <nav class="d-none d-lg-block col-lg-2 bg-light sidebar">
        
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'my_profile' %}">Your Details<span class="sr-only">(current)</span></a>
                </li>
            </ul>
    
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-5 mb-1 text-muted">
                <span>Opportunities</span>
                <a class="d-flex align-items-center text-muted" href="#"></a>
            </h6>
                
            <ul class="nav flex-column px-3 mb-2">
                <li class="nav-item">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="You need to be subscribed">
                        <a class="nav-link disabled noclick" href="{% url 'my_posts' %}">Your Opportunities</a>
                    </span>    
                </li>
                <li class="nav-item">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="You need to be subscribed">
                        <a class="nav-link disabled noclick" href="{% url 'my_inbox' %}">Inbox</a>
                    </span>    
                </li>
                <li class="nav-item">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="You need to be subscribed">
                        <a class="nav-link disabled noclick" href="{% url 'write_post' %}"><i class="fas fa-plus-circle"></i> Add Opportunity</a>
                    </span>    
                </li>
            </ul>
            
        </div>
        
    </nav>
    
</div> 