{% extends "base.html" %}

{% block content %}
    
    {% include "profile_menu.html" %} 
    
    <div class="profile-body">
        
        <div class="row row-welcome">
            <div class="col-md-12">
                <h3>Hello {{ user.first_name }}</h3>
            </div>
        </div>
        
        <div class="row mt-4">
            
            <div class="col-md-4">
                
                <img src="{{ MEDIA_URL }}{{ user.profile.image }}" alt="Profile image" width="200px" height="200px" />
                
            </div>
            
            <div class="col-md-4">
                <h6>Username</h6>
                <p>{{ user.username }}</p>
                
                <h6>First Name</h6>
                <p>{{ user.first_name }}</p>
            
                <h6>Last Name</h6>
                <p>{{ user.last_name }}</p>

                <h6>Phone Number</h6>
                <p>{{ user.profile.phone_number }}</p>

                <h6>Email</h6>
                <p>{{ user.email }}</p>
            </div>
            
        </div>
        
        
    </div>
    
    
{% endblock %}